*
!.gitignore
!README.md
!wallpaper.png

!.screenshots
!.screenshots/**/*

!i3
!i3/*

!polybar
!polybar/**/*

!nvim
!nvim/**/*

!rofi
!rofi/**/*

!glava
!glava/**/*

!picom
!picom/**/*

!neofetch
!neofetch/**/*

!peaclock
!peaclock/**/*

!.utils
!.utils/**/*
.utils/tmux

!lsd
!lsd/**/*

!.scripts
!.scripts/**/*

!bin
!bin/**/*
