/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #282828;
    background-alternate: #232323;
    background-alt: #353535;
    foreground:     #EBDBB2;
    selected:       #edc69f;
    active:         #B8BB26;
    urgent:         #FB4934;
}
